<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
      <defaultDocument enabled="true">
        <files>
          <clear/>
          <add value="index.aspx"/>
        </files>
      </defaultDocument>
        <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Redirect bigholler.com to www" patternSyntax="ECMAScript" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^bigholler.com$" />
          </conditions>
          <action type="Redirect" url="https://www.bigholler.com/{R:0}" />
        </rule>
        <rule name="pricing.asp" stopProcessing="true">
          <match url="^pricing.asp$" />
          <action type="Redirect" url="https://{HTTP_HOST}/pricing.aspx" redirectType="Permanent" />
        </rule>
        <rule name="about_us.asp" stopProcessing="true">
          <match url="^about_us.asp$" />
          <action type="Redirect" url="https://{HTTP_HOST}/about.aspx" redirectType="Permanent" />
        </rule>
        <rule name="contact_us.asp" stopProcessing="true">
          <match url="^contact_us.asp$" />
          <action type="Redirect" url="https://{HTTP_HOST}/contact.aspx" redirectType="Permanent" />
        </rule>
        <rule name="terms.asp" stopProcessing="true">
          <match url="^terms.asp$" />
          <action type="Redirect" url="https://{HTTP_HOST}/terms-of-use.aspx" redirectType="Permanent" />
        </rule>
        <rule name="privacy.asp" stopProcessing="true">
          <match url="^privacy.asp$" />
          <action type="Redirect" url="https://{HTTP_HOST}/privacy-policy.aspx" redirectType="Permanent" />
        </rule>
        <rule name="refund.asp" stopProcessing="true">
          <match url="^refund.asp$" />
          <action type="Redirect" url="https://{HTTP_HOST}/refund-policy.aspx" redirectType="Permanent" />
        </rule>        <rule name="anything.asp" stopProcessing="true">
          <match url=".asp$" />
          <action type="Redirect" url="https://www.bigholler.com/" redirectType="Permanent" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>
      </outboundRules>

    </rewrite>    
  </system.webServer>
</configuration>
